body{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.columnleft{
    flex: 1;
    padding: 20px;
    background-color: #1A3E2F;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 50%;
    min-height: 100vh;
}

.columnright{
    padding: 20px;
    flex: 1;
    background-color: #EFF2E4;
    justify-content: center;
    align-items: center;    
    width: 50%;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: left;
}

label{
    text-align: left;
    padding: 0.25rem 0;
    font-size: 20px;
}

input{
    margin: 0.5rem 0;
    padding: .5rem;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    border: 2px solid #1A3E2F;
}

button{
    border: none;
    background-color: #1A3E2F;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    margin: 5px;
}

.linkbtn{
    background: none;
    color: #1A3E2F;
    text-decoration: underline;
}

.header{
    color: #1A3E2F;
    text-align: left;
    font-size: 40px;
}

.title{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background-color: transparent;
    color: white; /* Set your desired text color */
    z-index: 100; /* Ensure it's above other elements on the page */
    text-align: left;
}

.name{
    font-size: 50px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 1.2rem;
}

