.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notification .notification-inner {

}

.notification .notification-click-info {
  margin: 0 auto;
  font-size: 15px;

  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.notifprofile{
  border: none;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  color: #1A3E2F;
  margin: 0;
  padding: 0;
  font-size:15px;
  text-decoration: underline;    
}
.notifbody{
  color: #1A3E2F;
  margin-right: 1px;
}