body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.profilerow{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.profilecolumnleft{
    position: fixed;
    width: 200px;
    padding: 20px;
    background-color: #EFF2E4;
    display: flex;
    justify-content: center;    
    min-height: 100vh;
    text-align: center;
}

.profilecolumnright{
    margin-left: 250px;
    padding: 20px;
    flex: 5;
    background-color: white;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
}

.profileheader{
    color: #1A3E2F;
    font-size: 50px;
    margin: 0;
}

.profiletitle{
    color: #1A3E2F;
    font-size: 25px;
    padding-top: 20px;
}

.profilesidecontainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
}

.profileexbutton{
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #1A3E2F;
    font-size: 17px;
    margin: 0.5rem 0;
}

.profilenavbar{
    display: flex;
    justify-content: left;
    margin: 1rem;
}

.profilepostcontainer{
    padding: 3rem;
    height: 100vh;
}

.profilecoloredsquare{
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    border: 2px solid #1A3E2F;
    border-radius: 20px;
    flex-grow: 1;
}

.profilefont{
    font-size: 20px;
    padding: 10px;
    padding-left: 0;
    color: #1A3E2F;
}

.profilepostrow{
    display:flex;
    padding: 2rem;
    background-color: #EFF2E4;
    justify-content: space-between;
    width: 90%;
    min-height: 70%;
    border: 2px solid #1A3E2F;
    border-radius: 20px;
}

.profilepostleft{
    flex: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: left;
}

.profilepostright{
    padding: 20px;
    justify-content: center;
    align-items: center;    
    width: 50%;
}

.profiletempcontainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
}

.profileheader{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.profilehorizontalcontainer{
    font-size: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}